{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="POST" >

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as , <a href="{{ path('app_logout') }}">Logout</a> 
        </div>
    {% endif %}
    
<select value="{{ last_username }}" name="idTypeQuiz" class="col-10 form-select" autocomplete="email" required autofocus>

                            <option value="3">W-</option>
                            <option value="2">X-</option>
                            <option value="1">P-</option>
                        </select>

    <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
    <div class="row">
                        {# <select class="col-10 form-select" name="idTypeQuiz" id="" required="">
                            
                    </div> #}
                    <div class="row">
                    </div>
                    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}