{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../front/style.css">
    
        {% endblock %}


{% block body %}
<section id="hero" class="hero d-flex align-items-center">
<style>
    .example-wrapper { margin: 1em auto; max-width: 1000px;  font: 18px/1.5 sans-serif; }
    
</style>

<div class="example-wrapper">
    <h1>Bonjour voici quelques information concernant le Quizz :</h1>

    Vous allez effectuer un Quizz sur le logiciel <strong>Word</strong>
    <ul>
        <li>Ce Quiz as pour seul objectif de savoir votre niveau sur le logiciel afin de mieux vous former en fonction de vos compétence ; il n'y a pas de point minimum à avoir , Ne vous mettez pas la presion !!!.✅
        <li>Vous aurrez 2 minutes pour répondre à un total de  20 Quesions✅
        <li>Vous disposez d'un temps total de 45 minutes✅
        <li><strong>Attention !</strong> Vous ne disposez que d'une seul tentative✅
        </li>
    </ul>
<form action="{{ path('quizz') }}" method="post">
    <input type="text" value="2" class="d-none" name="typeQuiz">
        <button type="submit" class="btn d-flex btn-primary mx-auto justify-content-center ">Commencer le Quiz</button>
    </form>

</div>

</section>
{% endblock %}
