{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="../front/style.css">
    
        {% endblock %}

{% block body %}
<section id="hero" class="hero d-flex align-items-center">
<style>
    .example-wrapper { margin: 1em auto; max-width: 1000px;  font: 18px/1.5 sans-serif; }
    
</style>

<div class="example-wrapper">
    <h1 class="finDeQuiz">Fin du quiz <strong>'TYPEQUIZZ'</strong> :  </h1>

    
    <p>
        Bravo vous avez fini le Quiz <strong>{{typeQuiz}}</strong><br>
        Un Mail avec le récapitulatif du quiz va être transmis à votre formation
        <p class="text-center">Votre score final est de <strong> {{test}} % </strong></p>
        
    </p>
    <button class="btn d-flex btn-primary mx-auto justify-content-center ">
    
    Retourner sur le site EuroFad
    
    </button>
</div>

</section>
{% endblock %}
