{% extends 'base.html.twig' %}
{% block title %}
Quizz Eurofad
{% endblock %}
{% block body %} 
<section id="quiz" class="quiz hero" > 
    <br>
    <br> 
    <br> 
    <div class= "text-center mt-5 pt-5" > 
        <h1 class="couleurH1Connexion col-7 mx-auto text-center"> 
            Veuillez rentrer le code fournis par le formateur 
        <br> 
            afin d 'accéder à votre Quiz :
        </h1>
        <br> 
        <br> 
    </div>

    <form method="POST" action="{{path('quizz')}}">
        <div class="input-group justify-content-center ">
            <div class="row text-center">
                <div class="col-3 mx-auto input-group has-validation">
                    <span class="input-group-text text-upercase blueEuroFad">
                        code :
                    </span>
                    <div class="row">
                        <select class="col-10 form-select" name="typequizz" id="" required="">
                            <option value="">prefix</option>
                            <option value="3">W-</option>
                            <option value="2">X-</option>
                            <option value="1">P-</option>
                        </select>
                    </div>
                    <div class="row">
                        <input type="text" class=" col-3 form-control" id="username" placeholder="votre code ici" required="">
                            <div class="invalid-feedback">
                                Veuillez entré un code valide
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <br> 
        <div class= "col-xs-4 text-center justify-content-center align-items-center" > 
            <button type="submit" class="btn btn-light " style="color: #ff8851;font-family: "Open Sans", sans-serif;"> 
                    Démarrer 
            </button > 
        </div> 
    </form>

    <br> 
    <div class="d-flex flex-row text-center justify-content-center align-items-center" style="color: #4154f1;"> 
        <div class ="p-2"> 
            <a href=""> 
                Pas de code
            </a>
        </div >
        <div class="p-2"> 
            Code non valide 
        </div>
    </div > 
</section>

{% endblock %}
