body{
    background-color: #97B9C8;

}

.hero {
    width: auto;
    height: 100vh;
    background: url(../img/fond_question.svg) ;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: bottom;
}

.word { 
    margin: 1em auto;
    max-width: 1000px; 
    font: 18px/1.5 sans-serif;
}
.photoshop{
    margin: 1em auto;
    max-width: 1000px; 
    font: 18px/1.5 sans-serif;
}

.excel{
    margin: 1em auto;
    max-width: 1000px; 
    font: 18px/1.5 sans-serif;
}

h1 .finDeQuiz, .blueEuroFad{
    color: #4154f1;
}

#questionQuiz{
    font-size: 28px;
    height: 10%;
}

#choixQuestion{
    height: 50%;
}

input, label{
    font-size: 25px;
}
