{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block stylesheets %}
    {# <link rel="stylesheet" href="/front/css/quiz.css"> #}

{% endblock %}

{% block body %}
    <section id="hero" class="hero d-flex align-items-center">
        <style>
            .example-wrapper {
                margin: 1em auto;
                max-width: 1000px;
                font: 18px / 1.5 sans-serif;
            }
        </style>
        <header id="header" class="header fixed-top header-scrolled">
            <div class="container-fluid d-flex align-items-center justify-content-around">
                <a href="/" class="logo d-flex align-items-center">
                    <img src="/img/logo.png" alt="">
                        <span>EuroFAD</span>
                    </a>
                    <nav id="navbar" class="navbar">
                        <ul>
                            <li>
                                <a class="nav-link scrollto" href="#hero">Accueil</a>
                            </li>
                            <li>
                                <a class="nav-link scrollto" href="#about">Qui sommes-nous</a>
                            </li>
                            <li>
                                <a class="nav-link scrollto" href="#valeur">Nos valeurs</a>
                            </li>
                            <li>
                                <a class="nav-link scrollto" href="#pratice">En pratique</a>
                            </li>
                            <li>
                                <a class="nav-link scrollto" href="#services">Nos formations</a>
                            </li>
                            <li>
                                <a class="nav-link scrollto" href="#team">Notre équipe</a>
                            </li>
                            <li>
                                <a class="nav-link scrollto active" href="#contact">Contact</a>
                            </li>
                            <li>
                                <a class="nav-link scrollto" href="https://formation-eurofad.com/" target="_blank">E-learning</a>
                            </li>
                            <li>
                                <a class="getstarted scrollto" href="/cpf">CPF</a>
                            </li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav>
                </div>
            </header>

            <div class="example-wrapper">
                <h1>Bonjour voici quelques information concernant le Quizz :</h1>

                Vous allez effectuer un Quizz sur le logiciel
                <strong>Excel</strong>
                <ul>
                    <li>Ce Quiz as pour seul objectif de savoir votre niveau sur le logiciel afin de mieux vous former en fonction de vos compétence ; il n'y a pas de point minimum à avoir , Ne vous mettez pas la presion !!!.✅
                        <li>Vous aurrez 2 minutes pour répondre à un total de  20 Quesions✅
                            <li>Vous disposez d'un temps total de 45 minutes✅
                                <li>
                                    <strong>Attention !</strong>
                                    Vous ne disposez que d'une seul tentative✅
                                </li>
                            </ul>
                            <form action="{{ path('quizz') }}" method="post">
                                <input type="text" value="1" class="d-none" name="typeQuiz">
                                    <button type="submit" class="btn d-flex btn-primary mx-auto justify-content-center ">Commencer le Quiz</button>
                                </form>

                            </div>


                        </section>

                        <footer id="footer" class="footer">
                            <div class="footer-top">
                                <div class="container">
                                    <div class="row gy-1 ">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-6 col-md-12 footer-info">
                                            <a href=" https://fr.linkedin.com/in/eurofad-europ%C3%A9enne-de-formation-et-avenir-digital-977a2b214" target="_blank" class="logo d-flex align-items-center ">
                                                <img src="/img/logo.png" alt="">
                                                    <span>EuroFAD</span>
                                                    <img src="/img/linkedin.png" alt=""></a>

                                                </div>
                                                <div class="col-lg-3 col-6 footer-links">
                                                    <h4>Liens utiles</h4>
                                                    <ul>
                                                        <li>
                                                            <i class="bi bi-chevron-right"></i>
                                                            <a href="https://www.tosa.org/FR/index.php" target="_blank">Isograd
                                                                                TOSA</a>
                                                        </li>
                                                        <li>
                                                            <i class="bi bi-chevron-right"></i>
                                                            <a href="/pdf/Reglement_interieur.pdf" target="_blank">Réglement intérieur (PDF)</a>
                                                        </li>
                                                        <li>
                                                            <i class="bi bi-chevron-right"></i>
                                                            <a href="/pdf/LIVRET_ACCUEIL_OKbdef.pdf" target="_blank">Livret d'acceuil stagiaire (PDF)</a>
                                                        </li>
                                                        <li>
                                                            <i class="bi bi-chevron-right"></i>
                                                            <a href="/pdf/CGV_OK.pdf" target="_blank">Conditions
                                                                                générales de vente (PDF)</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="copyright text-center">
                                                © Copyright Juin 2021,
                                                <strong>
                                                    <span>EuroFAD.fr</span>
                                                </strong>.
                                            </div>
                                        </div>
                                    </div>
                                </footer>
                            {% endblock %}
