{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/front/css/quiz.css">
{% endblock %}

{% block body %}

{# {{ dump(tableReponseEtValeur) }} #}
<section id="hero" class="hero d-flex align-items-center">
    <form action="{{path('mailer')}}" class="mx-auto my-auto rounded-3 col-6 bg-light shadow w-75 vh-75" method="post">
        <p class="col-12 text-center fs-3 pt-5">
            <span id="numeroQuestion"></span>
        </p>
        <p id="questionQuiz" 
            class="text-center my-5">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, voluptas. 
            <strong class="text-primary">
                {# {{nomDeLaValeurQuiz}} #}
            </strong>
        </p>
    <div id="choixQuestion" class=" mb-5">
        <div id="question0" class="container mx-auto">
            <div class="row col-11 mx-auto">
                <div class="col-sm-7 mx-auto col-xl-4 mb-5 bg-primary">
                    <input class="col-2 form-check-input" type="checkbox" name="question${i}" id="question1_${i}">
                    <label class="col-10 ps-2 form-check-label" id="choix1_${i}" for="question1_${i}" >
                        CTRL-3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, similique.
                    </label>
                </div>
                <div class="col-sm-7 mx-auto col-xl-4 mb-5 bg-primary">
                    <input class="col-2 form-check-input" type="checkbox" name="question${i}" id="question2_${i}">
                    <label class="col-10 ps-2 form-check-label" id="choix2_${i}" for="question2_${i}" >
                        CTRL-3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, similique.
                    </label>
                </div>
            </div>
            <div class="row col-11 mx-auto my-5">
                <div class="col-sm-7 mx-auto col-xl-4 mb-5 bg-primary">
                    <input class="col-2 form-check-input" type="checkbox" name="question${i}" id="question3_${i}">
                    <label class="col-10 ps-2 form-check-label" id="choix3_${i}" for="question3_${i}" >
                        CTRL-3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, similique.
                    </label>
                </div>
                <div class="col-sm-7 mx-auto col-xl-4 mb-5 bg-primary">
                    <input class="col-2 form-check-input" type="checkbox" name="question${i}" id="question4_${i}">
                    <label class="col-10 ps-3 form-check-label" id="choix4_${i}" for="question4_${i}" >
                        CTRL-3 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, similique.
                    </label>
                </div>
            </div>
        </div>
        {# <div id="question0" class="my-3">
            {# <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<strong>{{nomDeLaValeurQuiz}}</strong>
                    Saepe ad sint explicabo, cupiditate alias sapiente consectetur quam commodi, itaque earum aut ea, dolorem debitis accusantium!
                </p> 
            <div class="col-10 row mx-auto justify-content-center  ">
                <div class="col-sm-12 col-lg-6">
                    <div class="row ">
                        <div class="col-12  my-5  p-3 text-center d-flex align-items-start">
                            <div class="form-check mx-auto">
                                <input class="form-check-input" type="checkbox" name="question1" id="question1_1">
                                    <label class="form-check-label " for="question1_1">
                                        ${reponse1[i]}
                                    </label>
                            </div> 
                        </div>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-12 my-5 p-3 text-center d-flex align-items-start">
                            <div class="form-check mx-auto">
                                <input class="form-check-input" type="checkbox" name="question2" id="question2_2">
                                <label class="form-check-label " for="question2_2">
                                    ${reponse2[i]}
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="row">
                        <div class="col-12  my-5 p-3 text-center d-flex align-items-start">
                            <div class="form-check mx-auto">
                                <input class="form-check-input" type="checkbox" name="question3" id="question3_3">
                                <label class="form-check-label " for="question3_3">
                                    ${reponse3[i]}
                                </label>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-12  my-5 p-3 text-center d-flex align-items-start">
                            <div class="form-check mx-auto">
                                <input class="form-check-input" type="checkbox" name="question4" id="question4_4">
                                <label class="form-check-label " for="question4_4">
                                        ${reponse4[i]}
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div> #}
        <div id="question1" class="container mx-auto my-3"></div>
        <div id="question2" class="container mx-auto my-3"></div>
        <div id="question3" class="container mx-auto my-3"></div>
        <div id="question4" class="container mx-auto my-3"></div>
        <div id="question5" class="container mx-auto my-3"></div>
        <div id="question6" class="container mx-auto my-3"></div>
        <div id="question7" class="container mx-auto my-3"></div>
        <div id="question8" class="container mx-auto my-3"></div>
        <div id="question9" class="container mx-auto my-3"></div>
        <div id="question10" class="container mx-auto my-3"></div>
        <div id="question11" class="container mx-auto my-3"></div>
        <div id="question12" class="container mx-auto my-3"></div>
        <div id="question13" class="container mx-auto my-3"></div>
        <div id="question14" class="container mx-auto my-3"></div>
        <div id="question15" class="container mx-auto my-3"></div>
        <div id="question16" class="container mx-auto my-3"></div>
        <div id="question17" class="container mx-auto my-3"></div>
        <div id="question18" class="container mx-auto my-3"></div>
        <div id="question19" class="container mx-auto my-3"></div>
        {# <div id="note" name="test" class=""></div> #}
    </div>
        <div class"boutton ">
            <submit class="btn d-flex btn-primary  mx-auto justify-content-center col-6" id="button" onclick="clickME()">
                    valider
            </submit>
            <submit class="btn d-flex btn-success mt-5 mx-auto justify-content-center col-6" id="buttonVerification" onclick="testVerif()">
                    verification
            </submit>
            {# <div id="numeroQuestion"> </div> #}
            <input type="text" name="note" id="note" class="d-none" value="">
            {# <input type="text" name="typeQuizz" id="note" class="d-none" value="{{nomDeLaValeurQuiz}}"> #}


            <button class="btn d-flex btn-danger mt-5 mx-auto justify-content-center col-6" id="buttonFinDeQuiz">
                Fin de quiz
            </button>

            {# <input type="submit" class="btn d-flex btn-primary mx-auto justify-content-center col-6 d-none" value="finir quiz" id="validerQuiz"> #}
        </div>
    <br>

    </form>

</section>

<script>
    {# let tableauQuestion = ({{ tableau | json_encode | raw }}); #}
    let tableauQuestionEtValeur = ({{ tableReponseEtValeur | json_encode | raw }});
</script>
<script src="/front/js/quiz.js"></script>


{% endblock %}
